* {
  box-sizing: border-box;
  list-style: none;
  
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background: rgb(14, 14, 200);
    background: linear-gradient(90deg, rgba(14, 14, 200, 1) 26%, rgba(5, 4, 83, 1) 61%, rgba(2, 0, 36, 1) 75%, rgba(102, 0, 255, 1) 94%);
}

img {
  display: block;
  max-width: 100%;
}

ul{
  display: block;
  flex-direction: column;
}

button{
  margin: 5px 5px;
  padding: 10px 10px;
  cursor:pointer;
  background-color: #fafafa;
  color: greenyellow;
  transition: transform 0.8s ease;
  border: none;
  background: transparent;
 
}
 button:hover{
  background-color: chocolate;
  color: azure;
  outline: none;
  border: none;
  transform: scale(1.2);
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
#submit{
  transform: none;
  border:1px;
  color:wheat;
  background-color:darkslategrey;
  border-radius: 5px;
}
#submit:hover{
  color: yellow;
}